[pyprland]
plugins = [
    "shortcuts_menu",
]

[pyprland.variables]
headphones_addr = "9C:0C:35:53:D9:35"
hdmi_capture = "USB3.0"
pypr = "pypr-client"

[shortcuts_menu]
command_start = "ó°œŽ"
engine = "rofi"

[shortcuts_menu.entries]
shutdown = "systemctl poweroff"
"record desktop" = "~/scripts/wmRecordVid.sh"
reboot = "systemctl reboot"
bambu = "__EGL_VENDOR_LIBRARY_FILENAMES=$(yay -Ql mesa|grep mesa.json|cut -f2 -d ' ') bambu-studio"
maps = """

xdg-open \"https://www.google.com/maps/place/$(wl-paste | sed -E 's/[ 	\\n]/+/g')\"

'"""
WIKI = "xdg-open http://localhost:8000/"
"Serial USB Term" = [
    { name = "speed", options = [
    "115200",
    "9600",
    "38400",
    "115200",
    "25600",
    "512000",
] },
    { name = "device", command = "ls -1 /dev/ttyUSB*; ls -1 /dev/ttyACM*" },
    "[term] miniterm --raw --eol LF [device] [speed]",
]
"Fetch window" = "[pypr] fetch_client_menu"
"Jira CheatSheet" = "xdg-open https://cheatography.com/rhorber/cheat-sheets/jira-text-formatting-notation/"
"Color picker" = [
    { name = "format", options = [
    "hex",
    "rgb",
    "hsv",
    "hsl",
    "cmyk",
] },
    "sleep 0.5; hyprpicker --format [format] | wl-copy",
]
OCR = "sleep 0.5; hyprshot -m region -z -r -s | tesseract -l eng - - | wl-copy"
"Copy password" = [
    { name = "what", command = "cd ~/.password-store && find . -name '*.gpg' | sed -e 's/^..//' -e 's/.gpg$//'" },
    "pass show -c [what] && notify-send -i info -a pass 'Copied to clipboard' 'Password is now available'",
]
"Update/Change password" = [
    { name = "what", command = "gopass ls --flat" },
    "[term] -- gopass generate -s --strict -t '[what]' && gopass show -c '[what]'",
]
"Clipboard history" = [
    { name = "entry", command = "cliphist list", filter = "s/	.*//" },
    "cliphist decode '[entry]' | wl-copy",
]
Kill = [
    { name = "what", options = [
    "buckle",
    "ruff",
    "ruff_lsp",
] },
    "pkill [what]",
]
Layout = [
    { name = "profile", command = "wlrlui -l | sed 's/^ - //'" },
    "wlrlui \"[profile]\"",
]
screenshot = [
    { name = "what", options = [
    "output",
    "window",
    "region",
    "active",
] },
    "hyprshot -m [what] -o /tmp -f shot_[what].png",
]
annotate = [
    { name = "fname", command = "ls /tmp/shot_*.png" },
    "satty --filename '[fname]' --output-filename '/tmp/annotated.png'",
]

[shortcuts_menu.entries.WM]
Relayout = "[pypr] relayout"
Reload = "hyprctl reload; [pypr] reload; [pypr] relayout"
"Hyprland socket" = "[term] socat - \"UNIX-CONNECT:$XDG_RUNTIME_DIR/hypr/$HYPRLAND_INSTANCE_SIGNATURE/.socket2.sock\""
"Hyprland logs" = "[term] tail -f $XDG_RUNTIME_DIR/hypr/$HYPRLAND_INSTANCE_SIGNATURE/hyprland.log"

[shortcuts_menu.entries."Sound / Audio"]
"Network ready" = "pactl load-module module-zeroconf-discover"
"Disconnect Headphones" = "bluetoothctl disconnect [headphones_addr]"

[shortcuts_menu.entries."HDMI Capture"]
"Stop background" = "pkill mpvpaper"
"Play background" = [
    { name = "screen", command = "hyprctl monitors |grep ^Monitor| cut -d ' ' -f2" },
    """

    mpvpaper -o \"--demuxer-lavf-format=video4linux2 --demuxer-lavf-o-set=input_format=mjpeg\" [screen] av://v4l2:$(v4l2-ctl --list-devices |grep -A1 \"[hdmi_capture]\" | tail -n 1  | sed -E 's/^\\s*//g')

    """,
]
"Play in a window" = """

    mpv --cache=no --demuxer-lavf-format=video4linux2 --demuxer-lavf-o-set=input_format=mjpeg av://v4l2:$(v4l2-ctl --list-devices |grep -A1 \"[hdmi_capture]\" | tail -n 1  | sed -E 's/^\\s*//g')

    """

